.wrapper {
  // position: relative;
  background-color: #f1f1f1;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 30px;
}
.interact {
  display: flex;
  justify-content: center;
  width: 200px;
  margin-left: -92px;
  transform: skewX(-20deg);
  background-color: #f1f1f1;
}
.content {
  margin-top: 30px;
  background-color: #f1f1f1;
  margin-left: -100px;
  z-index: 1;
  width: 400px;
  text-align: center;
}
.btn {
  display: flex;
  justify-content: center;
}
.btn-click {
  height: 40px;
  width: 200px;
  background-color: #ee4d2d;
  border: none;
  color: #f1f1f1;
  border-radius: 3px;
}
.result {
  margin-top: 20px;
}
.img-random {
  width: 300px;
  height: 200px;
  margin-top: 20px;
}
.text-random {
  font-weight: 500;
}
