.wrapper {
  margin: 30px 0;
}
.box {
  max-width: 250px;
  height: 360px;
  border-radius: 5px;
  object-fit: cover;
  transition: transform 400ms;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #111;
  &:hover {
    color: #111;
    transform: scale(1.05);
  }
}

.img-car {
  border-radius: 5px;
  width: 250px;
}
.picture {
  max-width: 250px;
  height: 200px;
  border-radius: 3px;
}
.car {
  position: relative;
  padding: 25px 0 15px 5px;
}
.name-car {
  font-size: 15px;
  margin-bottom: 0;
}
.icons{
  padding-bottom: 10px;
  border-bottom: 1px solid #c1c1c1db;
}
.eye, .heart{
  font-size: 20px;
  margin-left: 0;
  margin-right: 15px;
}
.price-car {
  font-size: 15px;
  font-weight: 700;
}
.add {
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 24px;
  border: none;
  background-color: transparent;
  transition: transform 400ms;
  object-fit: cover;
  color: #717171;
}
.info{
  text-align: center;
  margin-top: 20px;
}
.title, .price-car, .sale-price{
  font-family: Montserrat,sans-serif;
  font-size: 13px;
  font-weight: 700;
}
.sale-price{
  text-decoration: line-through;
}
