.wrapper {
  display: flex;
  box-shadow: 0px 2px 1px #000000;
  height: 80px;
  background-color: #000000;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 6rem;
  height: 4rem;
}
.logo-avt {
  width: 4.5rem;
  height: 4.5rem;
  margin-right: 10px;
  cursor: pointer;
  object-fit: cover;
  transition: transform 400ms;
  &:hover {
    transform: scale(1.2);
  }
}

.header-after {
  display: flex;
}
.header-item {
  display: flex;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 6.8rem;
  margin: 0 !important;
  text-decoration: none;
  color: #f5f5f5;
  font-weight: 400;

  &:hover {
    border-bottom: 2px solid #fd9644;
    border-radius: 3px;
    color: #fd9644;
  }
  &:hover .list-buy {
    display: flex !important;
  }
}
.list-buy {
  display: none !important;
  position: absolute;
  padding-top: 5px;
  top: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #212529;
  width: 130px;
  border-radius: 3px;
}

.nav-search {
  display: flex;
  align-items: center;
}

.btn-log,
.user-register {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: #fff;
  }
  &:hover .user {
    display: flex !important;
  }
}

.title {
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  color: #f5f5f5;
  font-weight: 600;
  font-size: 27px;
  &:hover {
    color: #f5f5f5;
  }
}

.buy-item {
  margin-top: 5px;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  height: 3rem;
  width: 120px;

  text-decoration: none;
  color: #f5f5f5;
  font-weight: 400;
  &:hover {
    border-bottom: 2px solid #ff9950;
    border-radius: 3px;
    color: #ff9950;
  }
}

.nav {
  display: flex;
  align-items: center;
  color: #fff;
  margin-left: 3px;
}
.icon-nav {
  margin: 0 5px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}
.child-icon {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #eb2f06;
  color: #fff;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  right: -1px;
  top: 0;
}
.menu-list {
  z-index: 11;
  height: 300px;
  width: 300px;
  background-color: #eb2f06;
}
.user {
  position: absolute;
  display: none !important;
  top: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #212529;
  width: 130px;
  border-radius: 3px;
  & span {
    margin-bottom: 2px;
    margin-right: 3px;
  }
}
.user-login {
  display: flex;
  align-items: center;
  color: #f5f5f5;
  text-decoration: none;
  &:hover {
    color: white;
  }
}
.btn-change {
  color: #fff;
  text-decoration: none;
  &:hover {
    color: #fff;
  }
}

.btn-user {
  width: 100px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 15px;
  color: white;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    color: white;
  }
}
.offcanvas {
  display: none;
}
@media (max-width: 1200px) {
  .title {
    display: none;
  }
}
@media (max-width: 992px) {
  .title {
    display: inline;
  }
  .offcanvas {
    display: flex;
  }
  .search-offcanvas {
    margin-right: 15px;
  }
  .header-after {
    display: none;
  }
}
@media (max-width: 576px) {
  .title {
    display: none;
  }
}
@media (max-width: 768px) {
  .title {
    display: none;
  }
}
