.sidebar{
    flex: 3;
    margin-top: 20px;
    margin-right: 40px;
    padding-bottom: 30px;
    background-color:   #e9dede;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: fit-content;
    padding: 10px;
    transition: all .2s ease-in-out;
    img{
        margin-top: 15px;
        width: 100%;
        height: auto; 
        border-radius: 10px;
    }
    p{
        padding: 25px;
    }
}
.sidebar:hover{
    cursor: pointer;
    transform: scale(1.1); 
}
.sidebarItem{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.sidebarTitle{
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top:1px solid #a7a4a4;
    border-bottom:1px solid #a7a6a4;
    font-size: 14px;
    color: #222;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
}
.sidebarList{
    list-style: none;
    margin-bottom: 30px;
    width: 100%;
}
.sidebarListItem{
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
}
.sidebarSocial{
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebarIcon{
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}
