.wrapper{
  display: grid;
}
.search {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 10px;
    transition-duration: 500ms;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid #fff;
    overflow: hidden;
    background-image: url(../../../assets/icon/search.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 45% 50%;
    &:hover {
      border: 1px solid #ff9950;
    }
    &:focus {
      width: 250px;
      height: 2rem;
      cursor: text;
      padding-left: 40px;
      border-radius: 40px;
      color: white;
      outline: none;
      background-color: transparent;
      border: 1px solid #ff9950;
      background: url(../../../assets/icon/search-13-16.png) no-repeat;
      background-size: 15px;
      background-position: 20px 50%;
    }
    
  }