.slide-list {
  border-radius: 10px;
  object-fit: fill;
}

.slider-box {
  background-color: dodgerblue;
  border-radius: 10px;
  object-fit: none;
  width: 250px;
  margin: 0 30px;
}
.slick-next-custom {
  background-color: #ff0000; /* Màu nền mới cho nút "Next" */
  color: #333; /* Màu chữ mới cho nút "Next" */
}
.slick-arrow{
  background-color: #ff0000;

}
.slick-next{
  color: #ff0000 !important;
}
